<ion-content class="corpo">
  <ion-row class="login">
    <div>
      <ion-row class="logo">
        <img src="../../assets/images/logo.svg">
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label position="floating">Usuário</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-end ion-align-items-end">
        <div class="btn-login" routerLink="home">
          <ion-icon style="zoom:2.0;" name="log-in-outline"></ion-icon>
        </div>
      </ion-row>
    </div>
  </ion-row>
</ion-content>