<ion-header>
  <ion-toolbar slot="fixed">
    <ion-icon class="btn-close" slot="end" (click)="closeModal()" name="close-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <ion-row>
    <ion-col size="4">
      <img src="../../../assets/images/book.jpg">
    </ion-col>
    <ion-col size="8">
      <ion-text>
        <h3>nome do livro</h3>
        <h4>editora</h4>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <h4>Resumo</h4>
    <ion-text>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </ion-text>
  </ion-row>
</ion-content>
