
<ion-content class="corpo" fullscreen>
  <ion-row class="topo">
    <ion-col size="6">
      <img src="../../assets/images/logo.svg" class="logo">
    </ion-col>
    <ion-col size="6" class="ion-text-end dados-user">
      <ion-text>
        <h1>Ola, Nome User</h1>
      </ion-text>
      <div class="img-user">
        <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="content">
    <ion-col size-sm="12" size-md="4" class="card-info">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>total de livros</ion-card-subtitle>
          <ion-card-title class="ion-text-end">999</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>total de paginas</ion-card-subtitle>
          <ion-card-title class="ion-text-end">9999</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="8">
      <ion-text>
        <h1>grafico</h1>
      </ion-text>
    </ion-col>

    <ion-col size="12" class="time-line">
      <ion-row>
        <ion-col size-sm="12" size-md="5">
          <h1 class="titulo">o que<br><strong>eu li</strong></h1>
        </ion-col>
        <ion-col size-sm="12" size-md="7">
          <div class="container">
            <details class="default square">
              <summary><img src="../../assets/icon/calendar.svg"> 2020</summary>
              <div>
                <p (click)="presentModal()">Nome do Livro</p>
                <p (click)="presentModal()">Nome do Livro</p>
                <p>Nome do Livro</p>
                <p>Nome do Livro</p>
              </div>
            </details>
            <details class="primary square">
              <summary><img src="../../assets/icon/calendar.svg"> 2019</summary>		
              <div>If your browser supports this element, it should allow you to expand and collapse these details.</div>
            </details>
            <details class="success">
              <summary><img src="../../assets/icon/calendar.svg"> 2018</summary>		
              <div>If your browser supports this element, it should allow you to expand and collapse these details.</div>
            </details>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
